{% extends 'pastas/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>
</head>
<body>
    {% block content %}

    <form method="post">
      <h2>Registro</h2>
       {% csrf_token %}
       {{ form|crispy }}
       <h3>Dirección:</h3>
       {{ address_formset.management_form }}
       {% for form in address_formset %}
         <div class="address-form">
           {{ form|crispy }}
         </div>
       {% endfor %}
       <button type="submit">Registrarse</button>
    </form>
    {% endblock %}
</body>
</html>