{% extends "pastas/base.html" %}
    {% load static %}
    {% block title %} El Rey de la Pasta {% endblock title %}
{% block content %}

<!--============ Contact us ============-->


<div class="contactwrapper">
  <div id="contactus" class="container">
        <h3 class="wow fadeInUp" data-wow-delay="0.3s">CONTACT US</h3>
        <div class="staff">
       	  <ul>
                  <li><img src="{% static 'pastas/images/char3.png' %}" width="163" height="163" class="myimage wow fadeIn" title="mido" alt="1">
                  
                  
            </li>
                  <li><img src="{% static 'pastas/images/char4.png' %}" width="163" height="163" class="myimage2 wow fadeIn" data-wow-delay="0.8s"
                   alt="1"></li> 
                  <li><img src="{% static 'pastas/images/char5.png' %}" width="163" height="163" class="myimage3 wow fadeIn" 
                  data-wow-delay="0.8s" 
                  alt="1"></li>
                  <li><img src="{% static 'pastas/images/char6.png' %}" width="163" height="163" class="myimage4 wow fadeIn" alt="1"
                   data-wow-delay="0.8s"
                  ></li>
                  <li><img src="{% static 'pastas/images/char1.png' %}" width="163" height="163" class="myimage5 wow fadeIn" alt="1"
                  data-wow-delay="0.8s"></li>
                  <li><img src="{% static 'pastas/images/char2.png' %}" width="163" height="163" class="myimage6 wow fadeIn" alt="1"
                  data-wow-delay="0.8s"
                  ></li>
             </ul>   
             
         </div>   
      <!--end of .staff-->
        
    <img src="{% static 'pastas/images/pop1.png' %}" width="486" height="137" class="firstpop" alt="pop">
    <img src="{% static 'pastas/images/popup2.png' %}" width="487" height="137"  class="secondpop" alt="pop">
    <img src="{% static 'pastas/images/popup3.png' %}" width="487" height="137"  class="thirdpop" alt="pop">
    <img src="{% static 'pastas/images/popup4.png' %}" width="487" height="137"  class="fourthpop" alt="pop">  
    <img src="{% static 'pastas/images/popup6.png' %}" width="487" height="137"  class="fifthpop" alt="pop">  
    <img src="{% static 'pastas/images/popup7.png' %}" width="487" height="137"  class="sixthpop" alt="pop">  
    
    
    </div> 
    <!--contactus class-->
</div> <!-- end of contact wrapper-->


{%endblock%}